@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

.body{
  padding: 0px;

}
.alignleft {
  float: left;
  margin-right: 15px;
}
.alignright {
  float: right;
  margin-left: 15px;
}
.aligncenter {
  display: block;
  margin: 0 auto 15px;
}
a:focus, input:focous, textarea:focous, button:focous {outline:none}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;

}
html,
body { height: 100% }
body { 
  font-family: SolaimanLipiNormal;
  font-size:16px;
  line-height:23px;   
}
a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.container-fluid{
padding:0 70px;
}

/* iklan1 */
.iklan img {
  width: 728px;
  height: 90px;
}

.imgiklan {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-right: 5%;
}

.iklan img {
  max-width: 100%;
  height: auto;
}
/* iklan1 */

/* date */
.date-li{
 list-style: none;
  position: relative;
  bottom: -1em;
}

.date-li i{
    margin-left: 3px;
    align-items: center;
      display:inline-block;
}

ul{
    
    margin-left: 2.2em;
    
} 


/* date */

/* text berjalan */
.tcontainer {
  width: 82%;
  overflow: hidden;
  margin: auto;
  border: 1px solid black;
  border-radius: 0px 0px 0px 0px;

}

.bigHeading {
  display: block;
  position: absolute;
  font-style: italic;
  font-size: 10px;
  background: #e60000;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 9px 9px 8px 9px;
  letter-spacing: 3px;
  font-weight: 700;
  left: 5.3%;
  z-index: 10;
}

.ticker-wrap {
  width: 100%;
  padding-left: 100%;
}

.ticker-move {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-timing-function: linear;
  animation: ticker 40s infinite;
}

.ticker-move:hover {
  animation-play-state: paused;
}

.ticker-item {
  display: inline-block;
  padding: 0 40px;
  font-size: 20px;
}
/* text berjalan */

/* Container berita */
.clsberita {
  width: 110%;
  height: auto;
}

.iklan2 img {
  margin-left: 5.5em;
  width: 60%;
  height: auto;
  margin-bottom: 10px;
}

.imghot{
    border-radius: 3px;
    
    
  }

  .texthot{
    text-align: center;
    margin-top: 10px;
  }

  .btnhot{
      display: block;
      position: relative;
      left: 40%;
  }



  .carousel-control-prev-icon,
.carousel-control-next-icon {
 
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0);
  background-color: rgb(97, 97, 97);

}



/* Container penutup */


/* iklan samping */
  

  .title{
    background-color: rgba(100, 100, 100, 0.65);
   
    text-align: center;
  }

  .video{
    width: 100%;
    height: 15em;  
  }

  .teksberita1{
      position: relative;
      border: black 1px solid;
      border-radius: 5px;   
  }

  .teksberita2{
    position: relative;
    border: black 1px solid;
    border-top: white;
}


/* iklan samping */

/* footer */


/* footer */
  
@keyframes ticker {
  100% {
    transform: translate3d(-120%, 0, 0);
  }
}
